/* =========================
   Footer
========================= */
.footer {
  background: var(--footer-bg);
  width: 100%;
  padding: 50px 20px 0 20px; /* remove bottom padding */
  box-shadow: var(--box-shadow);
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.footer-column {
  flex: 1 1 1;
  display: flex;
  flex-direction: column;
}

.footer-column h2 {
  color: var(--primary-color);
  font-size: var(--subheading-size);
  /* was 20px */
  font-weight: var(--heading-weight);
  /* was 600 */
  margin-bottom: 15px;
}

.footer-column p,
.footer-column a,
.footer-column ul li a {
  font-size: var(--fs-16);
  font-weight: var(--paragraph-weight);
  color: var(--text-color);
  line-height: 1.6;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-column a:hover,
.footer-column ul li a:hover {
  color: var(--primary-color);
}

.footer-column i {
  color: var(--primary-color);
  min-width: 20px;
  text-align: center;
  transition: var(--transition-duration) var(--transition-easing);
}

.footer-column i:hover {
  color: var(--dark-primary-color);
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-logo img {
  width: 70px;
  height: auto;
  display: block;
}

.footer-social {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

.footer-bottom {
  padding: 20px;       /* remove any padding */
  text-align: center;
  line-height: 1.4; /* adjust if needed */
  font-size: var(--fs-14);
  font-weight: var(--paragraph-weight);
  color: var(--muted-text);
  border-top: 1px solid var(--light-primary-color);
  margin-top: 50px;
}
