/* ================= Footer ================= */
.footer {
  background: var(--footer-bg);
  margin: 0;
  width: 100%;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px;
}

.footer-left,
.footer-right {
  flex: 1 1 220px;
  max-width: 600px;
}

.footer-left {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-left h2 {
  font-size: var(--fs-40);
  font-weight: var(--fw-600);
  color: var(--primary-color);
  margin: 0 0 10px 0;
  text-align: start;
}

.footer-left p,
.footer-left a {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
  font-size: var(--fs-18);
  font-weight: var(--fw-500);
  color: var(--text-color);
  text-decoration: none;
}

.footer-left a:hover {
  color: var(--primary-color);
}

.footer-left i {
  font-size: var(--fs-20);
  color: var(--primary-color);
}

.footer-bottom {
  text-align: center;
  padding: 10px;
  font-size: var(--fs-14);
  color: var(--muted-text);
  border-top: 1px solid var(--light-primary-color);
}

/* Responsive Footer */
@media (max-width: 767px) {
  .footer {
    padding: 20px 15px;
  }

  .footer-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .footer-left,
  .footer-right {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .footer-bottom {
    font-size: var(--fs-12);
  }
}
