/* =========================
   Footer
========================= */
.footer {
  background: var(--footer-bg);
  width: 100%;
  padding:20px; /* only top and side padding */
  box-shadow: var(--box-shadow);
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.footer-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-column h2 {
  color: var(--cyan-color);
  font-size: var(--subheading-size);
  font-weight: var(--heading-weight);
  margin-bottom: 20px;
}

.footer-contact-row {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.footer-contact-row p {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: var(--fs-16);
  font-weight: var(--fw-500);
  color: var(--text-color);
}

.footer-contact-row a {
  color: var(--text-color);
  text-decoration: none;
}

.footer-contact-row a:hover {
  color: var(--cyan-color);
}

.footer-social {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.footer-social a {
  color: var(--cyan-color);
  font-size: 20px;
  transition: color 0.3s ease;
}

.footer-social a:hover {
  color: var(--dark-cyan-color);
}

.footer-bottom {
  padding: 20px 0;
  text-align: center;
  font-size: var(--fs-14);
  font-weight: var(--paragraph-weight);
  color: var(--muted-text);
  border-top: 1px solid var(--muted-text);
  margin-top: 30px;
  padding-bottom: 0;
}
