@import './main.css';
@import './navbar.css';
@import './hero.css';
@import './home.css';
@import './footer.css';
@import './modal.css';
@import './responsive.css';

/* Vite-imported package CSS */
@import "owl.carousel/dist/assets/owl.carousel.css";
@import "owl.carousel/dist/assets/owl.theme.default.css";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
